---
title: About this page for you
layout: base.njk
---
 
<div class="container">
    <h1>This is another page</h1>
    <p>I was made using HTML, CSS and Javscript. And served as jamstack site.</p>
</div>
