---
title: A page for you   
layout: base.njk
---
 
<div class="container">
        <h1>this is a page for me</h1>
        <div class="vibe">
            You are great
        </div>
        <div class="love">
            Hihi
        </div>

        <ul>
        {% for article in news.articles %}
            <li><h1> <a href="{{ article.url }}">{{ article.title }} </a></h1></li>
            <span>{{article.source.name}} - <time>{{article.publishedAt}}</time></span> 

        {% endfor %} 
        </ul>
</div>
<script src="/js/vibe.js"></script>