---
title: A page for you
layout: base.njk
---
 
<div class="container">
        <h1>this is a page for me</h1>
        <div class="vibe">
            You are great
        </div>
        <div class="love">
            Hihi
        </div>
</div>
<script src="/js/vibe.js"></script>